@import 'normalize';
@import 'grid';
@import 'layer';
@import 'palette';
@import 'type';

$gold: 1.61803399;

$container-width: 900px;
$mainBody-height: 700px;

$plane-height: 7px;
$plane-angle: $plane-height * $gold;
$plane-width: $plane-angle * 2;
$plane-color: #757575;


.container {
	width: $container-width;
}


.header {
	position: relative;
	margin-top: $plane-height;
	margin-left: $plane-angle;
}

.header:before {
	content: "";
	position: absolute;
	top: -$plane-height;
	left: 0;
	border-bottom: $plane-height solid $plane-color;
	border-left: $plane-angle solid transparent;
	border-right: $plane-angle solid transparent;
	width: calc(100% - #{$plane-width});
	height: 0px;
}

.header-update {
	padding: 2px 10px;
}

.main {
	position: relative;
	margin-top: $plane-height;
}

.main:before {
	content: "";
	position: absolute;
	top: -$plane-height;
	left: 0;
	border-bottom: $plane-height solid $plane-color;
	border-left: $plane-angle solid transparent;
	border-right: $plane-angle solid transparent;
	width: calc(100% - #{$plane-width});
	height: 0px;
}

.main-header {
	padding: 2px 10px;
}

.main-header-list {
	list-style-type: none;
	display: inline;
	padding: 0;
}

.main-header-list > li {
	display: inline;
	margin-right: $plane-height;
}

.main-body {
	position: relative;
	overflow: hidden;
	height: $mainBody-height;
}

